extends ../templates/template

block content
   .illustration
   main.main
      .filter#filter
         ul.filter-list#filter-list

         button.filter__button Clear

      ul.results#results

   template#filter-template
      li.filter-list__item
         span.filter-list__term
         button.filter-list__button

   template#job-template
      li.results__item
         article.job
            img.job__image

            .job__body
               ul.type
                  li.type__item
                  li.type__item.type__item--new New! 
                  li.type__item.type__item--featured Featured
               h2.job__title
               ul.features
                  //- Time elapsed since offer
                  li.features__item
                  //- work day
                  li.features__item
                  //- Location
                  li.features__item

            ul.categories